<%- include('parts/header')%>
<%- include('parts/navbar')%>

<div class="container">
    <% if(!product) { %>
    <div class="alert alert-danger">
        there is no product matches this id
    </div>
    <% } else {%>
    <div class="row">
        <div class="col col-12 col-md-6">
            <div class="card" style="width: 100%;">
                <img src="/<%= product.image%>" class="card-img-top" style="max-height: 400px">
                <div class="card-body">
                    <form action="/cart" method="POST" class="add-to-cart-form">
                        <input type="number" name="amount" class="form-control">
                        <input type="submit" value="Add to cart" class="btn btn-primary">
                    </form>
                </div>
            </div>
        </div>
        <div class="col col-12 col-md-6 product-detail">
            <h3><%= product.name%></h3>
            <h5>Price: <%= product.price%> $</h5>
            <p><%= product.description%></p>
        </div>
    </div>
    <% } %>
</div>

<%- include('parts/footer')%>